@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Caveat:wght@400..700&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Dancing+Script:wght@400..700&family=Electrolize&family=Great+Vibes&family=Lavishly+Yours&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tangerine:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
.ly {
  font-family: "Lavishly Yours", cursive;
  font-weight: 400;
  font-style: normal;
}

.ds {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

caveat-400 {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.audio {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.electro {
  font-family: "Electrolize", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cp {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

.gv {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

.pfd {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.moongradient {
  @apply bg-gradient-to-br from-black via-gray-600 to-sky-100;
}
